@model Dal.Model.LoginViewModel


@{
    Layout = "_CoverLayout";
}
<link href="~/css/login.css" rel="stylesheet" />

<body>
    <div class="container" style="width:700px;">

        <form class="form-signin" asp-controller="Account" asp-action="Login" method="post">
            <h2 class="form-signin-heading">Please sign in</h2>
            <div asp-validation-summary="All"></div>

            <div>
                <label asp-for="Email" class="sr-only">Email address</label>
                <div>
                    <input asp-for="Email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                    <span asp-validation-for="Email"></span>
                </div>
            </div>

            <div>
                <label asp-for="Password" class="sr-only">Password</label>
                <div>
                    <input asp-for="Password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                    <span asp-validation-for="Password"></span>
                </div>
            </div>

            <button class="btn btn-lg btn-default" style="margin-top: 20px" type="submit">Sign in</button>
        </form>

    </div>
</body>
