@{
    Layout = "_CoverLayout";
}
<div class="inner cover">
    <h1 class="cover-heading">Created by: Dániel Kovács</h1>
    <p class="lead">This is my first ASP. NET Core web application.</p>
    <h1 class="cover-heading">Special thanks to Gábor Szabó</h1>
</div>