@using Dal.Model;
@model AddQuestionViewModel

@{
    Layout = "_MenuLayout";
}

<link href="~/css/addquestion.css" rel="stylesheet" />

<div id="body">

    <h1 class="cover-heading" style="color: #fff">Edit Questions</h1>
    
    <form method="post" action="/AddQuestion/SaveQuestion" class="form-group">
        <p>
            <label class=".lb-lg" for="quizlist" style="color: #fff">Quiz:</label>
            <input list="quizlist" class="form-control" name="quiz.Name" placeholder="Write or choose a name of quiz" id="quiz" required>
        </p>
        <datalist id="quizlist">
            @{
                foreach (var item in Model.Quizs)
                {
                    <option value="@item.Name" />
                }
            }
        </datalist>

        <p>
            <label for="question" style="color: #fff">Question:</label>
            <input type="text" class="form-control" name="question.Text" placeholder="Question text" id="question" required />
        </p>

        <p>
            <label for="theme" style="color: #fff">Theme:</label>
            <input list="themelist" class="form-control" name="theme.Name" placeholder="Write or choose a theme" id="theme" required>
        </p>

        <datalist id="themelist">
            @{
                foreach (var item in Model.Themes)
                {
                    <option value="@item.Name" />
                }
            }
        </datalist>

        <p><button class="btn btn-lg btn-default" style="margin-top: 10px; color: #333; background-color: #fff">Add Question</button></p>
    </form>
</div>