@{
    Layout = "_MenuLayout";
}

<link href="~/css/addquestion.css" rel="stylesheet" />

<div id="body">
    <h1 style="color: #fff">New Question and Answers Added</h1>
    <a href="/AddQuestion/Index">Add a New Question</a>
</div>